version: "3"
services:
    webserver:
        image: "php-environment:8.1"
        environment:
            - APACHE_RUN_USER=#1000
        ports:
            - "8888:80"
        volumes:
            - .:/var/www/html
